// Layout: contains all the CSS that handles the layout, such as the container and any grid systems.

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: .8em;
    margin-bottom: 60px;
    color: #fff;
    border-bottom: 2px solid #000;
    background: linear-gradient(90deg, rgb(84, 21, 156),rgb(132, 51, 77));
}

table {
    width: 90%;
    border-collapse: collapse;
    max-width: 1000px;
    margin: 0 auto;
}
